*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Color Scheme */
:root {
  --color-primary: #0b0f2e;
  --color-secondary: #002b47;
  --color-tertiary: #0078a3;
  --color-headings: #dbd9e3;
  --color-body: #aba6bf;
}

/* Fonts */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #090c25;
  color: var(--color-body);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  margin: 0;
}

summary {
  color: var(--color-headings);
}

summary::marker {
  color: var(--color-body);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  line-height: 1.1;
  margin-bottom: 1rem;
}

h1 {
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.69rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.2rem;
    font-weight: 500;
  }
}

/* buttons */
button {
  border: none;
  border-radius: 5px;
  margin: 1rem 1rem;
  padding: 1rem 2rem;
}

button:hover {
  transform: scale(1.15);
}

.button--clear {
  background-color: rgba(216, 216, 216, 0.105);
  border: 1px solid rgba(216, 216, 216, 0.382);
}

.button--clear a {
  color: var(--color-headings);
}

.button--clear a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* Icons */
.icons {
  width: 30px;
  height: 30px;
}

.icon--med {
  width: 40px;
  height: 40px;
}

.icon--white {
  fill: var(--color-headings);
}

.icon__demo {
  fill: var(--color-body);
  position: absolute;
  transform: translate(-15px, -30px);
}

/* Lists/Links */
a {
  text-decoration: none;
  color: var(--color-headings);
}

a:visited {
  color: var(--color-headings);
}

a:hover {
  text-decoration: underline;
}

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Expandables */
.expandable__header {
  display: flex;
  justify-content: space-between;
}

.expandable__heading {
  margin-top: 0;
  font-size: 3rem;
}

.expandable__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.expandable--expanded .expandable__content {
  max-height: 100vh;
  opacity: 1;
}

/* Navbar */
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.navbar__list {
  width: 100%;
  margin: 0;
}

.navbar__item {
  border-bottom: 1px solid #d1d3e444;
  padding: 0.5rem 2rem;
}

.navbar__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.navbar__item > a:hover {
  color: #fff;
}

.navbar__toggler {
  opacity: 0.8;
  transition: box-shadow 0.1s;
  cursor: pointer;
  justify-self: center;
  background-color: rgba(194, 194, 194, 0.1);
  box-shadow: 1px 1px 10px 0.05px rgba(194, 194, 194, 0.35);
  -moz-box-shadow: 1px 1px 10px 0.05px rgba(194, 194, 194, 0.35);
  -webkit-box-shadow: 1px 1px 10px 0.05px rgba(194, 194, 194, 0.35);
  margin-right: 0.7rem;
}

.navbar.expandable--expanded .navbar__toggler {
  opacity: 1;
  box-shadow: 0 0 0 1px #667;
  border-radius: 7px;
}

.navbar__brand img {
  height: 50px;
}

@media screen and (min-width: 768px) {
  .navbar__toggler {
    display: none;
  }

  .navbar__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .navbar__item {
    border: 0;
  }
}

/* Blocks */
.block {
  padding: 3rem 3rem;
}

.block__header {
  text-align: center;
  margin-bottom: 7rem;
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 940px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid--2x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Hero Section */
.hero__heading {
  margin-top: 0;
}

.hero__section {
  padding: 0 2rem;
}

.hero__text {
  font-size: 2rem;
  margin: 2rem 0 1rem;
}

.hero__image {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .hero__section {
    text-align: left;
  }

  .hero__tagline {
    letter-spacing: 1.5px;
  }
}

/* Services */
.services {
  gap: 4rem 2rem;
}
.services__content {
  margin-top: auto;
  margin-bottom: auto;
  margin: auto;
  width: 80%;
}

.services:first-of-type {
  margin-top: 6rem;
}

.services__heading {
  margin: 2rem 0;
}

.services__img {
  align-self: center;
  width: 100%;
}

.service {
  padding: 2rem 0;
}

.services:nth-of-type(even) .services__content {
  text-align: right;
}

@media screen and (min-width: 940px) {
  /* Alternate content */
  .services:nth-of-type(even) .services__content {
    order: 2;
    text-align: left;
  }
  .services__content {
    width: 60%;
  }
}

/* Benefits */
.benefit {
  text-align: left;
}

.benefits .list {
  width: 80%;
  margin: 0;
  justify-self: center;
}

.benefits .list__item {
  font-size: 1rem;
}

.item--checked::marker {
  content: "✓ ";
  font-size: 1.2em;
}

@media screen and (min-width: 940px) {
  .benefits .list {
    width: 100%;
  }

  .benefits .list__item {
    font-size: 2rem;
  }
}

@media screen and (min-width: 634px) {
  .benefits .list__item {
    font-size: 1.8rem;
  }
}

/* Demonstrations */
.card {
  background-color: #93939414;
  border-radius: 15px;
  margin: 4rem 1rem;
  padding-top: 1rem;
  text-align: center;
}

.card__body a {
  color: var(--color-body);
}

/* Technologies */
.technologies__img {
  width: 80%;
  margin: 5rem auto;
}

/* Contact */
.contact__body {
  align-self: center;
}

.contact__image {
  width: 90%;
  padding-left: 10%;
}

@media screen and (min-width: 940px) {
  .contact__image {
    width: 80%;
  }
}

/* Footer */
footer {
  max-width: 900px;
  padding: 3rem 5rem;
  margin: 0 auto;
}

footer p {
  font-size: 1.2rem;
  text-align: center;
}

/* Background Gradients */
.header-background {
  background: rgb(116, 129, 194);
  background: linear-gradient(
    159deg,
    rgba(116, 129, 194, 0.6574746008708272) 0%,
    rgba(55, 77, 189, 0.7111756168359942) 18%,
    rgba(9, 12, 37, 1) 53%
  );
}

.services-background {
  background: radial-gradient(
    ellipse farthest-corner at 100% 50%,
    rgba(25, 22, 180, 0.7105435924369747),
    rgba(25, 22, 180, 0.7105435924369747) 10%,
    rgba(9, 12, 37, 1) 50%,
    rgba(9, 12, 37, 1)
  );
}

.benefits-background {
  background: radial-gradient(
    ellipse farthest-corner at -20% 50%,
    rgba(116, 129, 194, 0.6574746008708272),
    rgba(55, 77, 189, 0.7111756168359942) 10%,
    rgba(9, 12, 37, 1) 50%,
    rgba(9, 12, 37, 1)
  );
}

.image--bg--highlight {
  background: rgb(184, 214, 218);
  background: radial-gradient(
    circle,
    rgba(184, 214, 218, 0.4500393907563025) 0%,
    transparent 65%
  );
}

.technology--background {
  background: radial-gradient(
    ellipse farthest-corner at 100% 60%,
    rgba(25, 22, 180, 0.7105435924369747),
    rgba(25, 22, 180, 0.7105435924369747) 5%,
    rgba(9, 12, 37, 1) 40%,
    rgba(9, 12, 37, 1)
  );
}

.contact-background {
  background: radial-gradient(
    ellipse farthest-corner at 50% 110%,
    rgba(116, 129, 194, 0.6574746008708272),
    rgba(55, 77, 189, 0.7111756168359942) 10%,
    rgba(9, 12, 37, 1) 60%,
    rgba(9, 12, 37, 1)
  );
}
