*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Color Scheme */
:root {
  --color-primary: #0b0f2e;
  --color-secondary: #002b47;
  --color-tertiary: #0078a3;
  --color-headings: #dbd9e3;
  --color-body: #aba6bf;
}

/* Fonts */
html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-primary);
  color: var(--color-body);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  line-height: 1.1;
  margin-bottom: 1rem;
}

h1 {
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.69rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.2rem;
    font-weight: 500;
  }
}

/* buttons */
button {
  border: none;
  border-radius: 5px;
  margin: 1rem 1rem;
  padding: 1rem 2rem;
}

button:hover {
  transform: scale(1.15);
}

.button--clear {
  background-color: rgba(216, 216, 216, 0.105);
  border: 1px solid rgba(216, 216, 216, 0.382);
}

.button--clear a {
  color: var(--color-headings);
}

.button--clear a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* Lists/Links */
a {
  text-decoration: none;
}

a:visited {
  color: var(--color-headings);
}

a:hover {
  text-decoration: underline;
}

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Expandables */
.expandable__header {
  display: flex;
  justify-content: space-between;
}

.expandable__heading {
  margin-top: 0;
  font-size: 3rem;
}

.expandable__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.expandable--expanded .expandable__content {
  max-height: 100vh;
  opacity: 1;
}

/* Navbar */
.navbar {
  align-items: center;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.navbar__list {
  width: 100%;
  margin: 0;
}

.navbar__item {
  border-bottom: 1px solid #343751fb;
  padding: 0.5rem 2rem;
}

.navbar__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.navbar__item > a:hover {
  color: #fff;
}

.navbar__toggler {
  opacity: 0.8;
  transition: box-shadow 0.1s;
  cursor: pointer;
}

.navbar.expandable--expanded .navbar__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #667;
  border-radius: 7px;
}

.navbar__brand img {
  height: 50px;
}

@media screen and (min-width: 768px) {
  .navbar__toggler {
    display: none;
  }

  .navbar__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .navbar__item {
    border: 0;
  }
}

/* Blocks */
.block {
  padding: 7rem 3rem;
}

.block__header {
  text-align: center;
  margin-bottom: 7rem;
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 940px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

/* Hero Section */
.hero__heading {
  margin-top: 0;
}

.hero__section {
  padding: 0 2rem;
}

.hero__text {
  font-size: 2rem;
  margin: 2rem 0 1rem;
}

.hero__image {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .hero__section {
    text-align: left;
  }

  .hero__tagline {
    letter-spacing: 1.5px;
  }
}

/* Services */
.services {
  gap: 4rem 2rem;
  margin: 12rem 0;
}
.services__content {
  margin-top: auto;
  margin-bottom: auto;
  margin: auto;
  width: 80%;
}

.services:first-of-type {
  margin-top: 6rem;
}

.services__heading {
  margin: 2rem 0;
}

.services__img {
  width: 100%;
}

.services:nth-of-type(even) .services__content {
  text-align: right;
}

@media screen and (min-width: 940px) {
  /* Alternate content */
  .services:nth-of-type(even) .services__content {
    order: 2;
    text-align: left;
  }
  .services__content {
    width: 60%;
  }
}
