<section class="container" id="about">
  <h2>About</h2>
  <p>
    DMSTEX is an Oracle database focused company located in the Dallas - Fort
    Worth Metroplex. We offer quality software design and development services
    to meet the needs of businesses. Our company provides personal attention and
    commitment to our clients, while bringing extensive technical experience and
    expertise on complex systems.
  </p>

  <details>
    <summary>Our Management</summary>
    <p>
      DMSTEX, Dallas County, Texas is managed by Duane Dieterich and Michiet
      Dieterich. They bring 38 years of combined industry experience to the
      company. This includes 22 years of experience in Oracle/UNIX consulting,
      development and administration in 13 different organizations, spanning 12
      industries along with engineering and management experience.
    </p>
  </details>

  <details>
    <summary>Our Mission</summary>
    <p>
      The company uses innovative techniques in the software development process
      to increase efficiency and apply knowledge gained through experience to
      improve quality. This allows us to provide services that are reliable and
      affordable.
    </p>
  </details>

  <details>
    <summary>Philosophy</summary>
    <p class="CDt4Ke zfr3Q">
      The following are some basic beliefs we use to guide our practices.
    </p>

    <article>
      <h3>ALL GOOD THINGS COME FROM GOD</h3>
      <p>
        "The fear of the Lord is the beginning of wisdom; all who follow his
        precepts have good understanding. To him belongs eternal praise."
        <span
          ><a
            href="http://www.google.com/url?q=http%3A%2F%2Fwww.biblegateway.com%2Fpassage%2F%3Fsearch%3DPsalm%2B111%253A10&amp;sa=D&amp;sntz=1&amp;usg=AOvVaw2bJPf1VDKDnrN2dzvQiMTj"
            target="_blank"
            >Psalm 111:10</a
          ></span
        >
      </p>
    </article>

    <article>
      <h3>DON'T AVOID THE HARD WORK</h3>
      <p>
        "The most practical, beautiful, workable philosophy in the world won't
        work if you won't." -<span
          ><a
            href="http://www.google.com/url?q=http%3A%2F%2Fwww.ziglar.com%2Fquotes%2Fmost-practical-beautiful-workable-philosophy&amp;sa=D&amp;sntz=1&amp;usg=AOvVaw0cyovnAKyjhgeYoNYKwXkO"
            target="_blank"
            >Zig Ziglar</a
          ></span
        >
      </p>
      <p>
        "It's easier to explain price once than to apologize for quality
        forever."-<span
          ><a
            href="http://www.google.com/url?q=http%3A%2F%2Fwww.ziglar.com%2Fquotes%2Fits-easier-explain-price-once&amp;sa=D&amp;sntz=1&amp;usg=AOvVaw2xhf1s6bGvlAZIVVc1lEO7"
            target="_blank"
            >Zig Ziglar</a
          ></span
        >
      </p>
    </article>

    <article>
      <h3>DATA MODELS ARE THE FOUNDATION</h3>
      <p>
        <span
          ><a
            href="http://www.google.com/url?q=http%3A%2F%2Fen.wikipedia.org%2Fwiki%2FBusiness_process&amp;sa=D&amp;sntz=1&amp;usg=AOvVaw0Yy17o4_j0gdTaXs_1bhki"
            target="_blank"
            >Business processes</a
          ></span
        >
        (how a business operates) change faster than
        <span
          ><a
            href="http://www.google.com/url?q=http%3A%2F%2Fen.wikipedia.org%2Fwiki%2FData_model&amp;sa=D&amp;sntz=1&amp;usg=AOvVaw1VUglIQMbr0nCZCUwl_lH0"
            target="_blank"
            >data models</a
          ></span
        >
        (what a business operates on). Whether it's credits/debits,
        product/services, or customers/vendors, the basic "what" of a business
        doesn't change much. In contrast, business processes can change often.
        Applications with comprehensive data models support changes to business
        processes more efficiently.
      </p>
    </article>

    <article>
      <h3>THREE KINDS OF DATA STRUCTURES</h3>
      <p>
        In data modeling, there are three kinds of data structures in an
        application:
      </p>
      <ol>
        <li>
          <p>
            Business Objects - Fundamentals of the business, whether
            computerized or not. Ex. credits/debits, product/services, etc
          </p>
        </li>
        <li>
          <p>
            Business Intelligence Objects - Reporting and Information, whether
            computerized or not. Ex. month-end aggregates, units queued at an
            operation
          </p>
        </li>
        <li>
          <p>
            System Objects - Necessary for computerized use. Ex. users, login
            history, error logs.
          </p>
        </li>
      </ol>
    </article>

    <article>
      <h3>PRE-DEFINED BUSINESS OBJECTS</h3>
      <p>
        Pre-defined Essential Entities (<span
          ><a
            href="http://www.google.com/url?q=http%3A%2F%2Fen.wikipedia.org%2Fwiki%2FGeneric_data_model%23Generic_patterns&amp;sa=D&amp;sntz=1&amp;usg=AOvVaw0-cQwXCTbBJzsEMi5aa9RE"
            target="_blank"
            >Generic Data Model Patterns</a
          ></span
        >) are available and increase efficiency of requirements analysis and
        design.
      </p>
    </article>

    <article>
      <h3>TWO FORMS OF BUSINESS INTELLIGENCE</h3>
      <p>
        In an application architecture, there are two forms of business
        intelligence:
      </p>
      <ol>
        <li>
          <p>Real-Time Reporting</p>
        </li>
        <li>
          <p>On-Line Analytical Processing (OLAP)</p>
        </li>
      </ol>
    </article>

    <article>
      <h3>TWO MODES OF SYSTEM OPERATION</h3>
      <p>
        In an application implementation, there are two modes of system
        operation:
      </p>
      <ol>
        <li>
          <p>On-Line Transaction Processing (OLTP)</p>
        </li>
        <li>
          <p>Batch Processing.</p>
        </li>
      </ol>
    </article>

    <article>
      <h3>ORACLE DATABASE FOCUS</h3>
      <p>Database agnostic requires one of 2 approaches:</p>
      <ol>
        <li>
          <p>LCD (lowest common denominator) of database functionality</p>
        </li>
        <li>
          <p>
            different software/codepaths for each database (increased
            complexity)
          </p>
        </li>
      </ol>
      <p>
        Every design decision is driven by this choice. Use of a single database
        platform increases simplicity and efficiency.
      </p>
    </article>

    <article>
      <h3>SOFTWARE AUTOMATION</h3>
      <p>
        "Don't do anything yourself that you can get a machine to do for you." -
        Walter "Pat" Dieterich, Riesel, TX
      </p>
    </article>
  </details>
</section>
