<section class="block container">
  <header class="block__header">
    <h2>Benefits of DDGS Database Schema and PL/SQL API</h2>
  </header>

  <div class="grid grid--1x2 benefits">
    <ul class="list">
      <li class="list__item">
        <span class="material-symbols-outlined icon"> priority </span>
        Temporal Database (With Audit)
      </li>
      <li class="list__item">
        <span class="material-symbols-outlined icon"> priority </span>
        Bi-Temporal Database (With Audit)
      </li>
      <li class="list__item">
        <span class="material-symbols-outlined icon"> priority </span>
        Quantized Date/Time
      </li>
      <li class="list__item">
        <span class="material-symbols-outlined icon"> priority </span>
        Package Based Discrete Domains
      </li>
      <li class="list__item">
        <span class="material-symbols-outlined icon"> priority </span>
        DML undo on Primary Keys
      </li>
      <li class="list__item">
        <span class="material-symbols-outlined icon"> priority </span>
        DML Enabled Sub-Type Views and PL/SQL APIs
      </li>
    </ul>
    <ul class="list">
      <li class="list__item">
        <span class="material-symbols-outlined icon"> priority </span>
        Natural Key Update-able Views
      </li>
      <li class="list__item">
        <span class="material-symbols-outlined icon"> priority </span>Full
        Procedural PL/SQL APIs
      </li>
      <li class="list__item">
        <span class="material-symbols-outlined icon"> priority </span>
        Full Path Hierarchical Data
      </li>
      <li class="list__item">
        <span class="material-symbols-outlined icon"> priority </span>
        Automatic US7ASCII Conversion
      </li>
      <li class="list__item">
        <span class="material-symbols-outlined icon"> priority </span>
        APEX Data Maintenance Forms and Reports
      </li>
    </ul>
  </div>
</section>
