<section class="block">
  <div class="container grid grid--1x2">
    <header class="block__header contact__body">
      <h2>Contact Us</h2>
      <p>Phone: (469) 464-9491</p>
      <button class="button--clear">
        <a href="mailto:email@dmstex.com">Email </a>
      </button>
      <button class="button--clear">
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSeBn9uR3pnofhL8GwwfSHaSKpMsSSGCS7wnn-ZejYI6aCZo9Q/viewform"
          target="_blank"
          >Contact Form</a
        >
      </button>
    </header>
    <picture>
      <img class="contact__image" src="./images/contact.png" alt="" />
    </picture>
  </div>
</section>
