<section class="block container">
  <header class="block__header">
    <h2>Demonstrations</h2>
  </header>

  <div class="grid grid--2x3 demonstration">
    <div class="card">
      <span class="material-symbols-outlined icon"> insights </span>
      <header class="card__header">
        <h3 class="plan__name">Deliverables Demonstration</h3>
      </header>
      <div class="card__body">
        <ul class="list">
          <li class="list__item">
            <a
              href="https://www.youtube.com/watch?v=8GPFRvqgtMY"
              target="_blank"
              >Video Demonstration</a
            >
          </li>
          <li class="list__item">
            <a
              href="https://drive.google.com/file/d/178k_ddHR6YprX4VN3mGeJlsjg0DpS_vK/view?usp=sharing"
              target="_blank"
              >Presenation Slides</a
            >
          </li>
          <li class="list__item">
            <a
              href="https://drive.google.com/file/d/1--dWfp8wjMJY1lPwt91Enp2D8qAhocif/view"
              target="_blank"
              >Installation Scripts</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <span class="material-symbols-outlined icon"> settings </span>
      <header class="card__header">
        <h3 class="plan__name">Generated API Demonstration</h3>
      </header>
      <div class="card__body">
        <ul class="list">
          <li class="list__item">
            <a
              href="https://www.youtube.com/watch?v=XWCow6g_MoI"
              target="_blank"
              >Video Demonstration</a
            >
          </li>
          <li class="list__item">
            <a
              href="https://drive.google.com/file/d/1-6G2hsIrlJ3tC1q3Btk5obh_24smdS7_/view?usp=sharing"
              target="_blank"
              >Presenation Slides</a
            >
          </li>
          <li class="list__item">
            <a
              href="https://drive.google.com/file/d/1--dWfp8wjMJY1lPwt91Enp2D8qAhocif/view"
              target="_blank"
              >Installation Scripts</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <span class="material-symbols-outlined icon"> database </span>
      <header class="card__header">
        <h3 class="plan__name">Generated Data Handling</h3>
      </header>
      <div class="card__body">
        <ul class="list">
          <li class="list__item">
            <a
              href="https://www.youtube.com/watch?v=MTELPCDS5kg"
              target="_blank"
              >Video Demonstration</a
            >
          </li>
          <li class="list__item">
            <a
              href="https://drive.google.com/file/d/1-7bj0vOhsQOx8HLTadSjuWHxs9qyiplW/view?usp=sharing"
              target="_blank"
              >Presenation Slides</a
            >
          </li>
          <li class="list__item">
            <a
              href="https://drive.google.com/file/d/1-AuMzOrQ-JjOLKtS1m3UDvEVnHDjSmVv/view"
              target="_blank"
              >Installation Scripts</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <span class="material-symbols-outlined icon"> account_tree </span>
      <header class="card__header">
        <h3 class="plan__name">Generated Subtypes</h3>
      </header>
      <div class="card__body">
        <ul class="list">
          <li class="list__item">
            <a
              href="https://www.youtube.com/watch?v=fdYrfRC64Fo"
              target="_blank"
              >Video Demonstration</a
            >
          </li>
          <li class="list__item">
            <a
              href="https://drive.google.com/file/d/1-DDolkYMM8cTRLj6xw9ECxslBkM0CGYP/view?usp=sharing"
              target="_blank"
              >Presenation Slides</a
            >
          </li>
          <li class="list__item">
            <a
              href="https://drive.google.com/file/d/1-CnPo2mAvev61aiFNqbpzdlNo0hLwumb/view"
              target="_blank"
              >Installation Scripts</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <span class="material-symbols-outlined icon"> find_in_page </span>
      <header class="card__header">
        <h3 class="plan__name">Generated History/Audit</h3>
      </header>
      <div class="card__body">
        <ul class="list">
          <li class="list__item">
            <a
              href="https://www.youtube.com/watch?v=epNcrYcuqNA"
              target="_blank"
              >Video Demonstration</a
            >
          </li>
          <li class="list__item">
            <a
              href="https://drive.google.com/file/d/1-DxRijuNOutM5bBB8oVkVi2-jPxZ_o1W/view?usp=sharing"
              target="_blank"
              >Presenation Slides</a
            >
          </li>
          <li class="list__item">
            <a
              href="https://drive.google.com/file/d/1-EpGEqMSAuEJ5H7U7EIN9kak2N70nZ30/view"
              target="_blank"
              >Installation Scripts</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
