<section class="block">
  <div class="container grid grid--1x2">
    <header class="block__header hero__section">
      <h1 class="hero__heading">Application Development Services</h1>
      <p class="hero__text">
        Generate source code along with industry proven analysis and design
        practices.
      </p>
      <button class="button--clear">
        <a href="#contact">Get Started </a>
      </button>
      <button class="button--clear">
        <a href="https://github.com/DDieterich/dtgen/blob/wiki/README.md"
          >DTGen Project</a
        >
      </button>
    </header>
    <picture>
      <!-- TODO: Get image approval, image sizing, alt text -->
      <img class="hero__image" src="./images/cloud.png" alt="" />
    </picture>
  </div>
</section>
