<!-- TODO: Get approval of images -->
<section class="block container">
  <header class="block__header">
    <h2>Database Design and Generation</h2>
    <p>
      DMSTEX provides Oracle Database Design and Generation Services (DDGS). We
      offer Oracle based solutions because of its reliability and scalability
      from the smallest of installations to the largest record breaking systems.
      The Database Design and Generation Service includes:
    </p>
  </header>

  <article class="grid grid--1x2 services">
    <div class="services__content">
      <h3 class="services__heading">Database Schema</h3>
      <p>
        Database object definition in SQL and PL/SQL including: tables, indexes,
        triggers, and packages.
      </p>
    </div>
    <img class="services__img" src="./images/schema.png" alt="" />
  </article>

  <article class="grid grid--1x2 services">
    <div class="services__content">
      <h3 class="services__heading">PL/SQL API</h3>
      <p>
        Includes procedure and optional function calls for insert, update, and
        delete using table row buffers and individual columns.
      </p>
    </div>
    <img class="services__img" src="./images/api.png" alt="" />
  </article>

  <article class="grid grid--1x2 services">
    <div class="services__content">
      <h3 class="services__heading">Test Data</h3>
      <p>
        Random sample data to assist with development testing. (We can also help
        with load modeling and capacity analysis.)
      </p>
    </div>
    <img class="services__img" src="./images/test.png" alt="" />
  </article>

  <article class="grid grid--1x2 services">
    <div class="services__content">
      <h3 class="services__heading">Maintenance Forms</h3>
      <!-- TODO: Add apex link -->
      <p>
        Basic query, insert, update and delete on all tables. Also includes LOV
        and navigation UI elements. This is all built into the database (APEX).
      </p>
    </div>
    <img class="services__img" src="./images/forms.png" alt="" />
  </article>
</section>
