<section class="grid grid--1x2 container" id="technology">
  <img src="./images/schema.png" class="services__img" alt="" />
  <div class="block">
    <h2>Technology</h2>
    <h3>Why Oracle?</h3>
    <p>
      Oracle is a well-known and respected name in the field of information
      technology. The Oracle database provides industry leading performance,
      reliability, and full scalability from the smallest to the largest
      systems.
    </p>

    <details>
      <summary>Isn't Oracle Expensive?</summary>
      <p>
        Oracle has always been completive in their dealings. As a technical
        person, I understand that technical personnel are rarely included
        acquisition negotiations and usually do not see the discounts that
        result. Additionally, Oracle has worked very hard to be the most
        competitive cloud provider, resulting in reduced costs when moving from
        Amazon Web Services to Oracle Could Infrastructure.
      </p>
    </details>

    <details>
      <summary>Temporal Database</summary>
      <p>
        TEMPORAL DATABASE WAS ADDED IN THE SQL:2011 STANDARD. ORACLE STARTED
        SUPPORT FOR THIS CAPABILITY IN ORACLE11G/TOTAL RECALL, ORACLE 12C/VLDB,
        AND . HOWEVER, THE CURRENT ORACLE 21C IMPLEMENTATION DOES NOT ENFORCE
        TEMPORAL CONSTRAINTS. A PRIMARY KEY CONSTRAINTS EXAMPLE IS GIVEN BELOW.
        AT DMSTEX, WE CAN GENERATE NATIVE PL/SQL CODE TO PERFORM TEMPORAL
        CONSTRAINT ENFORCEMENT. WE CALL IT TEMPORAL CONTINUITY.
      </p>
    </details>

    <details>
      <summary>Temporal Continuity</summary>
      <p>
        The ability to track Transaction Time (TT) and Valid Time (VT) is a
        straight-forward implementation of the temporal and bi-temporal
        database. However, the ability to enforce temporal continuity of Foreign
        Key and Unique Key constraints is an important aspect of maintaining
        temporal continuity within that database. This whitepaper provides
        definitions and examples of temporal continuity enforcement in a
        temporal database implementation of DDGS
      </p>

      <p>
        If temporal constraints are enforced on primary keys, the same primary
        key could be valid during 2 different time frames. However, Oracle 21c
        will not allow this situation.
      </p>

      <a
        href="https://drive.google.com/file/d/0Bx7ieVJHnpg5Ukt4blpmU1ZyRzQ/view?resourcekey=0-UyYEBP1XE3I34F6Zi2DSjA"
        target="_blank"
        >DDGS Temporal Continuity.pdf</a
      >
    </details>
  </div>
</section>
